body {
    background-color: rgba(143, 120, 153, 0.567);

}

header {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

.greeting {
    display: flex;
}

.auth {
    word-spacing: 3px;
}

#new-report {
    background-color: rgb(93, 91, 121);
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
}