body {
    background-color: rgba(89, 163, 141, 0.337);
    font-family: 'Playfair Display', serif;
}
header{
  color: #000000;
  text-decoration: none;
  background-color: #f7f9f9;
  padding-bottom: 3.5em;
  /* padding-top: 1.5em; */
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* padding: 1.5em; */
    text-decoration-color: #000000;
    /* background-color: #ffffff; */
    background-image: url('/static/header-background.jpeg');
  
}

.greeting {
    display: flex;
}

.auth {
    word-spacing: 3px;
}

#new-report {
  padding: 2.5em;
}

#add-image {
  padding: .3em;
}
#save-post {
  padding: .3em;
}

#edit-post-buttons{
  display: flex;
  padding: .3em;
  justify-content: space-evenly;
}


#delete_post{
  display: flex;
  align-items:center;
  color: #f7f9f9;
}

#latest_posts {
  display: flex;
  flex-direction: column;   
  padding: 2em;
}

.post {
    background-color: #f7f9f9;
    border:solid ;
    padding: 1em;
    border-radius: .2em;
    border-width: 1px ;
    margin-bottom: 1rem;
}


.dropdown {
    display: block;
    position: absolute;
    /* width: 100%; */
    /* position: fixed; */
    /* padding: 0px; */
    background-color: #ffffff;
  }

.dropdown-content {
    display: none;
    position: relative;
    width: 100%;
    overflow: visible;
    background-color: #f7f9f9;
  }

.dropdown:hover  .dropdown-content {
    display:block;

  }
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
  }
  /* .dropdown-content a:hover {
    color: #100808;
    background-color: #f7f9f9;
  } */


#profile-posts {
  padding-top: 5em;
  padding-left: 1em;
}
#post-date,
#trip-title,
#user {
  display: flex;
  justify-content: center;
}
#post-date{
  font-size: .8em;
}

#edit-inpost-button{
  display: flex;
  justify-content: center;
  color: #f7f9f9;
}

.search-result {
  background-color: #f7f9f9;
  border:solid ;
  padding: 1em;
  border-radius: .2em;
  border-width: 1px ;
  margin-bottom: 1rem;
}
#account-title{
  padding: .5em;
}
#myaccount-view{
  display: flex;
  justify-content: space-around;
  border: 2px solid #3e3a3a;
  padding: 1em;
  border-radius: .2em;
  border-width: 1px ;
  margin: 1.5rem;
}
#myaccount-info {
  background-color: #f7f9f9;
  border:solid ;
  padding: 1.5em;
  border-radius: .2em;
  border-width: 1px ;
  margin-bottom: 1rem;
}
#profile-image{
  border: 1px solid #3e3a3a;
  padding: 1.2em;
  border-radius: 3%;
  background-color: #3e3a3a2b;
}
#profile-posts{
  background-color: #f7f9f9;
  border:solid ;
  padding: 1em;
  border-radius: .2em;
  border-width: 1px ;
  margin: 1rem;
}
#posts-by{
  display: flex;
  padding: 1em;
  justify-content: center;
}

#user-post-title,
#user-post-date {
  display: flex;
  justify-content: center;
}


@media screen and (min-width:650px) {

}

@media screen and (min-width:1000px) {

}