{% extends 'home.html' %}
{%load static%}
{% block content %}
<div id="myaccount-view">
    <p>My Account Information</p>

    {% if user_account.profile_picture %}
        <div id="profile-image"><img src="{{user_account.profile_picture.url}}" alt="profile image" style="max-height:300px">
        </div> 
        {% else %}
        <p>no profile image</p>
    {%endif%}
    
    <p>User Name: {{user_account}}</p>
    <p>Location: {{user_account.location}}</p>
        {% if user_account.about %}
            <p>About Me: {{user_account.about}}</p>
            <a href="{% url 'accounts:editabout' %}" class="button">Edit Info</a>
        {% else %}
            <p>Add more about yourself!</p>

            <a href="{% url 'accounts:addabout' %}" class="button">Add Info</a>
        {%endif%}
</div>
{% endblock %}