{% extends 'home.html' %}
{%load static%}
{% block content %}

<h4 id="account-title">Account Information</h4>
<div id="myaccount-view">


    {% if user_account.profile_picture %}
        <div id="profile-image">
            <img id="user-img" src="{{user_account.profile_picture.url}}" alt="profile image" style="max-height:300px">
        </div> 
       
    {%endif%}
    <div id="myaccount-info">
    <p>User Name: {{user_account}}</p>
    <p>Location: {{user_account.location}}</p>
        {% if user_account.about %}
            <p>About Me: {{user_account.about}}</p>
            <p><a id="edit-info" href="{% url 'posts:profile' user_account.id %}" class="button">My Posts</a></p>
            <a id="edit-info" href="{% url 'accounts:editabout' %}" class="button">Edit Info</a>
            
        {% else %}

            <p><a id="edit-info" href="{% url 'posts:profile' user_account.id %}" class="button">My Posts</a></p>
            <a href="{% url 'accounts:addabout' %}" class="button">Add Bio and Image</a>
        {%endif%}
    </div>
</div>
{% endblock %}