{% extends 'home.html' %}
{%load static%}
{% block content %}



    {%if user_posts %}
    <div id="user-profile">
    <h4 id="posts-by">posts by: {{selected_user}} </h4>
    </div>
        {%for post in user_posts%}
            <div id="profile-posts">
                <p>{{post.trip_title}}</p>
                <p>{{post.date_posted}} </p>
                <p>location: {{post.location}} </p>
                <p>{{post.trip_summery}} </p>
                <a href="{% url 'posts:singlepost' post.id %}">see more {{post.post}}</a>
            </div>
        {%endfor%}
    {% else %}
    <p>This user has no Reports!</p>
    {%endif%}


{% endblock %}