{% extends 'home.html' %}
{%load static%}
{% block content %}
<div class="container appear">
    <div class="item">
        <div id="profile-posts">
            <h3 id="trip-title">{{post.trip_title}} </h3>
            <h5 id="user"><a href="{% url 'posts:profile' post.user.id %}">{{post.user}}</a></h5>
            <p id="post-date">Posted {{post.date_posted}}</p>

            {%if post.location%}
                <h5 id="location" >Location: {{post.location}} </h5>
            {% endif %}

            <p>{{post.trip_summery}}</p>
            {%if post.planning_info%}
                <p>{{post.planning_info}} </p>
            {% endif %}

            {%if post.other_details %}
                <p>{{post.other_details}} </p>
            {% endif %}

            {%if post.map_detials%}
                <p>Map: {{post.map_details}} </p>
            {% endif %}

            <div id="single-post-images">
                {% for image in post.image_set.all%}
                    {% if image.image%}
                        <div class="img"><img class="individual-img"src="{{ image.image.url }}" alt="user images" style="max-height:300px">
                        {%if image.title%}
                            <div id="image-title">{{image.title}}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {%endfor%} 
            </div>

            <div id="edit-inpost-button">
            {% if user.id == post.user.id%}
                {% if user.is_authenticated %}
                    <div  type="button" class="btn btn-outline-primary"><a href="{% url 'posts:editpost' post.id %}">edit post</a></div>
                {% endif %}
            {% endif %}
            </div>



        </div>
    </div>
</div>


        
        


{% endblock %}