{% extends 'home.html' %}
{%load static%}
{% block content %}

<div id="profile-posts">
    <h3 id="trip-title">{{post.trip_title}} </h3>
    <h5 id="user">Trip by: <a href="{% url 'posts:profile' post.user.id %}">{{post.user}}</a></h5>
    <p id="post-date">Posted {{post.date_posted}}</p>
    <p>Location: {{post.location}} </p>
    <p>{{post.trip_summery}}</p>
    <p>{{post.planning_info}} </p>
    <p>{{post.other_details}} </p>
   
    <p>Map: {{post.map_details}} </p>

    <div id="single-post-images">

        {% for image in post.image_set.all%}
            {% if image.image%}
                <div class="img"><img class="individual-img"src="{{ image.image.url }}" alt="user images" style="max-height:300px"></div>
            {% endif %}
        {%endfor%} 
    </div>

    <div id="edit-inpost-button">
    {% if user.id == post.user.id%}
        {% if user.is_authenticated %}
        <div  type="button" class="btn btn-outline-primary"><a href="{% url 'posts:editpost' post.id %}">edit post</a></div>
        {% endif %}
    {% endif %}
    </div>



</div>



        
        


{% endblock %}