{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <title>{% block title %}Traverse Home{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Traverse</h1>
    </header>

    {% block content %}
    {% if user.is_authenticated %}
  
    <div class="auth">
        <a href="{% url 'logout' %}">LOGOUT</a>
    </div>
    <div class="create-button">
        <a href="{% url 'posts:create' %}">Create Report</a>
    </div>
    {% else %}

    <div class="auth">
        <a href="{% url 'login' %}">Login</a> or
        <a href="{% url 'accounts:signup' %}">Create Account</a>
    </div>
    {% endif %}
    
    <div id="latest_posts">
        {% if latest_post_list%}
            <p id="home_reports">Today's Trip Reports</p>
            <br>
                
                {%for post in latest_post_list%}
                <div class="post">
                    <p >{{post.trip_title}}</p>
                    <p >posted by:<a href="{% url 'posts:profile' user.id %}">{{post.user}}</a>, {{post.date_posted}}</p>
                </div>
                    {%endfor%}
            
            {% else %}
            <p>No new Reports! </p>
        {%endif%}
    </div>
 
    {% endblock %}
    </div>

</body>
</html> 